<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <h1>Welcome to my Diary website!</h1>
    <hr>

    <div class="container">
        <h2>django-diary</h2>
        <hr>
        <p>Creating a diary web application using Django</p>

        <h2>Description</h2>
        <hr>
        <p>Just a small web application that allows a user to view, create, and delete diary entries. It also provides a timestamp of when each entry was created.</p>

        <h2>Purpose</h2>
        <hr>
        <p>I created this small project with the intent of testing out my Django skills after finishing a Web Development Udemy course. Using this project I am hoping to see how much HTML, CSS, Bootstrap, and Django I know.</p>

    </div>


{% endblock %}